<!--
 * @Author: jack.lu
 * @Date: 2022-07-22 13:43:12
 * @LastEditTime: 2022-07-26 11:44:22
 * @LastEditors: jack.lu
 * @Description: your description
 * @FilePath: /demo/vue2/component/scene1/index.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>
    <title>extend</title>
  </head>
  <body>
    <div id="app1">{{ title }} {{ description }}</div>
    <div id="app2">{{ title }} {{ description }}</div>
  </body>
  <script>
    const VueExtend = Vue.extend({
      data() {
        return {
          title: 'app2',
          description: 'APP 描述'
        }
      }
    })
    const app1 = new Vue({
      el: '#app1',
      data() {
        return {
          title: 'app1'
        }
      }
    })
    const app2 = new VueExtend({ el: '#app2' })
  </script>
</html>
